.jumbotron {
  padding-top: 6rem;
  background-color: #f2ebe9;
}

#about {
  background-color: #fac37b;
}
#product {
  background-color: #f2ebe9;
}
#partner {
  background-color: #fac37b;
}

#contactus {
  background-color: #f2ebe9;
}

section {
  padding-top: 5rem;
}
.navbar {
  background-color: #f39010;
}
